
    <div id="footer" class="ui borderless bottom ui basic clearing segment">
        <div class="ui divider"></div>
        <div class="ui right floated basic segment">
            <p>&copy; @DateTime.Now.Year - Finch MVC ASP.NET</p>
        </div>
        <div class="ui left floated basic segment">
            <p>&copy; @DateTime.Now </p>
        </div>
    </div>
