<div class="ui center aligned padded grid">
    <div class="three column divided row">
        <div class="three wide column">
            <h1>dfdfd</h1>
        </div>
        <div class="ten wide column">
            <h1>dfdfd</h1>
        </div>
        <div class="three wide column">
            <h1>dfdfd</h1>
        </div>
    </div>
</div>
