<div class="ui inverted left sidebar vertical menu">
    <a class="item" href="@Url.Action("Index","Home")">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" href="@Url.Action("About","Home")">
        <i class="info icon"></i>
        About
    </a>
    <a class="item" href="@Url.Action("Contact","Home")">
        <i class="talk icon"></i>
        Contact
    </a>
</div>
