<div class="ui left rail">
    <div class="ui segment">
        Left Rail Content
    </div>
</div>
<div class="ui right rail">
    <div class="ui segment">
        Right Rail Content
    </div>
</div>
