<div class="ui right sidebar vertical inverted menu">
    <a class="header item">File Permissions</a>
    <a class="item">Share on Social</a>
    <a class="item">Share by E-mail</a>
    <a class="item">Edit Permissions</a>
    <a class="item">Delete Permanently</a>
</div>