<div class="ui top sidebar ui segment">
    <div class="ui center aligned page grid">
        <div class="one column row">
            <div class="sixteen wide column">
                <h3 class="ui header">New Content Awaits</h3>
            </div>
        </div>
        <div class="three column divided row">
            <div class="column">
                <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
            </div>
            <div class="column">
                <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
            </div>
            <div class="column">
                <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
            </div>
        </div>
    </div>
</div>
